# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Build output
dist
build
coverage

# Development files
*.test.ts
*.spec.ts
test
tests
__tests__
.env*
!.env.example

# IDE and editor files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
