{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json", "./tsconfig.test.json"]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "object-curly-spacing": [1, "always"],
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "overrides": [
    {
      "files": ["public/**/*.js"],
      "parser": "espree",
      "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "script"
      },
      "env": {
        "browser": true,
        "es2021": true
      },
      "extends": ["eslint:recommended"],
      "rules": {
        "no-unused-vars": "warn",
        "no-undef": "error"
      }
    }
  ]
}
